.carte {
    margin: 10px;
}

img {
    max-height: 100px;
    margin-top: 10px;

}


.header_card {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
}


.row {
    justify-content: center;
}